<?php
session_start();
date_default_timezone_set('Europe/Moscow');

error_reporting(0);
require_once 'includes/db.php';

if ($_SESSION['login'] != 'admin') {
  header('Location: index.php');
}

if ($_GET['pacient'] != null) {
  $pacient = R::load('pacient', $_GET['pacient']);
} else {
  header('Location: admin.php');
}

if (isset($_POST['addNewCard'])) {

  $card = R::dispense('card');
  $card->pacient = $_POST['pacient'];
  $card->admissiondate = $_POST['admissiondate'];
  $card->numberhistory = $_POST['numberhistory'];

  $card->consentdate = $_POST['consentdate'];
  $card->smoking = $_POST['smoking'];

  if ($_POST['yearssmoking'] != null){
  $card->yearsmoking = $_POST['yearssmoking'];
  }

  $card->height = $_POST['height'];
  $card->weight = $_POST['weight'];
  $card->datecr = date('Y-m-d');



  R::store($card);
  header('Location: card.php?id=' . $card['id']);
}

?>

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Добавление новой карточки - Реестр пациентов</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.2.2
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">Roboticreg</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->




  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="admin.php">
              <i class="bi bi-briefcase"></i>
          <span>Админ-панель</span>
        </a>
      </li>


      <li class="nav-item">
        <a class="nav-link collapsed" href="index.php">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Выход</span>
        </a>
      </li><!-- End Login Page Nav -->


    </ul>

  </aside><!-- End Sidebar-->


  <main id="main" class="main">


      <div class="pagetitle">
        <h1>Карточка пациента # <?php echo $pacient['id']; ?> </h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.php">Главная</a></li>
          <li class="breadcrumb-item"><a href="admin.php">Админ панель</a></li>
      <li class="breadcrumb-item"><a href="pacient.php?id=<?php echo $pacient['id']; ?> ">Пациент</a></li>
                    <li class="breadcrumb-item active">Добавление новой карточки</li>
          </ol>
        </nav>
      </div><!-- End Page Title -->





  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="card">
          <h5 class="card-header">
            New Card
          </h5>
          <div class="card-body">

            <form method="POST" action="addNewCard.php">
              <div class="mb-3">
                    <label for="date" class="form-label">History number</label>
                    <input type="text" class="form-control" name="numberhistory" >
                  </div>
              <div class="mb-3">
                <label for="date" class="form-label">Date and time of admission</label>
                <input type="date" class="form-control"   name="admissiondate">
              </div>
              <div class="mb-3">
                <label for="date" class="form-label">Informed consent signed on</label>
                <input type="date" class="form-control"   name="consentdate">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">History of smoking</label>
                <div class="form-check">
                  <input class="form-check-input radio_option" type="radio" id="Yes" name="smoking" value="Yes" checked>
                  <label class="form-check-label" for="flexRadioDefault1">
                    Yes
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input radio_option" type="radio" id="No" name="smoking" value="No" >
                  <label class="form-check-label" for="flexRadioDefault2">
                    No
                  </label>
                </div>
              </div>

              <div class="mb-3"  id="hide">
                <label for="date" class="form-label">Packyears </label>
                <input type="number" class="form-control"   name="yearssmoking">
              </div>

              <div class="mb-3">
                <label for="mm" class="form-label">Height (cm) </label>
                <input type="number" class="form-control"   name="height">
              </div>
              <div class="mb-3">
                <label for="mm" class="form-label">Weight (kg) </label>
                <input type="number" class="form-control"   name="weight">
                <input type="hidden" class="form-control"  value="<?php echo $_GET['pacient']; ?>"  name="pacient">
              </div>


              <button type="submit" class="btn btn-primary" name="addNewCard">Add new card</button>
            </form>




          </div>

        </div>
      </div>



    </div>

  </div>
  </div>

</main >






    <!-- Vendor JS Files -->
    <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/chart.js/chart.min.js"></script>
    <script src="assets/vendor/echarts/echarts.min.js"></script>
    <script src="assets/vendor/quill/quill.min.js"></script>
    <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>






    <!-- JS, Popper.js, and jQuery -->
    <script src="js/jquery.min.js"></script>

<script>
  $(document).ready(function() {
  $(".radio_option").change(function() {

    if ($('#Yes').prop("checked")) {
      $('#hide').fadeIn(300);
    } else {
      $('#hide').fadeOut(300);
    }

  });
});

</script>








</body>

</html>
