{% extends "base.html" %}
{% block content %}
{% load static %}
  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Карточка пациента {{card.pacient_id}} </h1>
    </div>
    <a href="/pacient/{{card.pacient_id.get_id}}"class="btn btn-primary">Назад</a>

    <div class="accordion">
    {% include "preprocedure_form.html" %}
    {% block preprocedure %}
    {% endblock %}
    {% include "medical_history_form.html" %}
    {% block medical_history %}
    {% endblock %}
    {% include "surgical_history_form.html" %}
    {% block surgical_history %}
    {% endblock %}
    </div>
  </main >


  <script src="{% static "js/jquery.min.js" %}"></script>
  <script src="{% static "js/fading.js" %}"></script>
{% endblock %}