{% extends "base.html" %}
{% block content %}



  <div class="container">
    <div class="row">
      <div class="col-xl-6">
        <div class="card">
          <h5 class="card-header">
            Карточка пациента
          </h5>
          <div class="card-body">
            <form method="POST" action="{% url "delete" pacient.get_id %}">
              {% csrf_token %}
              <div class="mb-3">
                <b><label for="exampleInputEmail1" class="form-label">Имя</label></b>
                <p>{{form.name}}</p>
              </div>
              <div class="mb-3">
                <b><label for="exampleInputPassword1" class="form-label">Фамилия</label></b>
                <p>{{form.surname}}</p>
              </div>
              <div class="mb-3">
                <b><label for="exampleInputPassword1" class="form-label">Пол</label></b>
                {{form.gender}}
              </div>
              <div class="mb-3">
                <b><label for="exampleInputPassword1" class="form-label">Дата рождения</label></b>
                <p>{{form.date_birth}} ({{pacient.get_current_age}})</p>
              </div>
              <button type="submit" class="btn btn-danger" name="deletepacient"> Удалить </button>
              <button type="submit" class="btn btn-success" name="editpacient"> Изменить </button>
            </form>
          </div>

        </div>
      </div>


      <div class="col-xl-6">
        <div class="card">
          <h5 class="card-header">
            Карточки
          </h5>
          <div class="card-body">
            <form action="{% url "add_card" pacient.get_id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Добавить новый прием</button>
            </form>


            <table class="table table-hover">

            <tr>
              <th>История</th>
              <th>Дата создания</th>
              <th>Дата приема</th>
              <th>Дата согласия</th>
              <th> </th>
              <th> </th>
            </tr>
            {% for card in cards %}
            <tr>
              <td>{{card.card_id}}</td>
              <td>{{card.creation_date|date:"SHORT_DATE_FORMAT"}}</td>
              <td>{{card.admission_date|date:"SHORT_DATE_FORMAT"}}</td>
              <td>{{card.sign_date|date:"SHORT_DATE_FORMAT"}}</td>
              <td><a href="{% url "show_card" card.get_id %}" class="btn btn-dark">Показать</a></td>
            </tr>
            {% endfor %}
            </table>


          </div>
        </div>
      </div>
    </div>

  </div>
  </div>


</main >

{% endblock %}