{% extends "base.html" %}
{% block content %}
{% load static %}
  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Карточка пациента {{card.pacient_id}} </h1>
    </div>
    <div class="">
    <nav class="navbar navbar-light bg-light">
      <form class="form-inline">
        <a href="/pacient/{{card.pacient_id.get_id}}" class="btn btn-primary">Назад</a>
        <button class="btn btn-primary" type="button" onclick="$('.collapse').collapse('hide')">Свернуть все</button>
      </form>
    </nav>
    <div class="accordion center-block">
      
    {% if form_preproc.errors %}
      <div class="alert alert-danger" role="alert">
        Возникли ошибки при заполнении:
        {% for key, value in formerrors.items%}
          <p>{{value}}</p>
      </div>
      {% endfor %}
    {% endif %}

    {% include "preprocedure_form.html" %}
    {% block preprocedure %}
    {% endblock %}
    
    {% include "medical_history_form.html" %}
    {% block medical_history %}
    {% endblock %}

    {% include "surgical_history_form.html" %}
    {% block surgical_history %}
    {% endblock %}

    {% include "gastrointestinal_procedure_form.html" %}
    {% block gastrointestinal_procedure %}
    {% endblock %}

    {% include "urological_procedure_form.html" %}
    {% block urological_procedure %}
    {% endblock %}

    {% include "surgical_procedure_details_form.html" %}
    {% block surgical_procedure_details %}
    {% endblock %}

    {% include "robotic_arm_location_form.html" %}
    {% block robotic_arm_location %}
    {% endblock %}
    
    {% include "trocard_location_form.html" %}
    {% block trocard_location %}
    {% endblock %}

    {% include "blood_loss_form.html" %}
    {% block blood_loss %}
    {% endblock %}

    {% include "robot_malfunction_form.html" %}
    {% block robot_malfunction %}
    {% endblock %}

    {% include "instruments_used_form.html" %}
    {% block instruments_used %}
    {% endblock %}

    {% include "ancillary_instruments_form.html" %}
    {% block ancillary_instruments %}
    {% endblock %}
    </div>
    </div>
  </main >


  <script src="{% static "js/jquery.min.js" %}"></script>
  <script src="{% static "js/fading.js" %}"></script>
  <script src="{% static "js/validate.js" %}"></script>
{% endblock %}