{% block followup %}

<div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFinal" aria-expanded="false" aria-controls="collapseFinal">
        Контрольный визит
      </button>
    </h2>
    <div id="collapseFinal" class="accordion-collapse collapse hide" aria-labelledby="headingOne">
      <div class="accordion-body">
        <div class="card">
          <h5 class="card-title"></h5>
          <div class="card-body">
            <form method="POST" action="{% url "edit_fu" card.get_id %}">
              {% csrf_token %}
              
              <div class="form-group row">
                <div class="form-group col-md-4">
                  <div class="mb-3">
                    <label for="date" class="form-label">Дата контрольного визита</label>
                    {{form_fu.date_followup}}
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <div class="mb-3" id="surgion_description">
                    <label for="date" class="form-label">Были ли нежелательные явления?</label>
                    {{form_fu.any_AE}}
                  </div>
                </div>
              </div>

              <button type="submit" class="btn btn-primary" name="editcard">Сохранить изменения</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}