{% block instruments_used %}

<div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
          Используемые инструменты
      </button>
    </h2>
    <div id="collapseEleven" class="accordion-collapse collapse hide" aria-labelledby="headingOne">
      <div class="accordion-body">
        <div class="card">
          <h5 class="card-title"></h5>
          <div class="card-body">
            <form method="POST" action="{% url "edit_iu" card.get_id %}">
              {% csrf_token %}
              <div class="mb-3">
                <label for="mm" class="form-label">Диаметр</label>
                {{form_iu.diameter}}
              </div>
              <div class="mb-3">
                <label for="mm" class="form-label">Измерение</label>
                {{form_iu.dimension}}
              </div>
              <div class="mb-3">
                <label for="mm" class="form-label">Оптический угол</label>
                {{form_iu.optic_degree}}
              </div>
              <div class="mb-3">
                <label for="mm" class="form-label">Производитель</label>
                {{form_iu.manufacturer}}
              </div>
              <table class="table border">
                <thead>
                  <tr>
                    <td>Группа</td>
                    <td>Имя/описание</td>
                    <td>Серийный номер</td>
                    <td> Использован</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td rowspan=4><b>Passive 
                      Instruments 
                      (Ø 3 mm)</b> </td>
                      <td>Atraumatic Single Action, Long<br> 
                        (Ø 3 mm, length 280 mm) </td>
                      <td>X0007203</td>
                      <td>{{form_iu.table_pi1_3}}</td>
                  </tr>
                  <tr>
                      <td>Cobra Grasper, Long 
                          (Ø 3 mm, length 280 mm) </td>
                      <td>X0007206</td>
                      <td>{{form_iu.table_pi2_3}}</td>
                  </tr>
                  <tr>
                      <td>DeBakey, Long 
                        (Ø 3 mm, length 280 mm) </td>
                      <td>X0007218</td>
                      <td>{{form_iu.table_pi3_3}}</td>
                  </tr>
                  <tr>
                    <td>Needle Holder, Long 
                      (Ø 3 mm, length 280 mm) </td>
                    <td>X0007209</td>
                    <td>{{form_iu.table_pi4_3}}</td>
                </tr>

                <tr>
                  <td rowspan=3><b>Monopolar 
                    Instruments 
                    (Ø 3 mm)</b> </td>
                    <td>Monopolar Maryland Dissector, Long 
                      (Ø 3 mm, length 280 mm) </td>
                    <td>X0007212</td>
                    <td>{{form_iu.table_mi1_3}}</td>
                </tr>
                <tr>
                    <td>Monopolar Curved Metzenbaum Scissors, Long 
                      (Ø 3 mm, length 280 mm) </td>
                    <td>X0007215 </td>
                    <td>{{form_iu.table_mi1_3}}</td>
                </tr>
                <tr>
                    <td>Monopolar L-Hook Electrode, Long 
                      (Ø 3 mm, length 280 mm) </td>
                    <td>X0007221</td>
                    <td>{{form_iu.table_mi1_3}}</td>
                </tr>
                <tr>
                  <td rowspan=2><b>Bipolar 
                    Instruments 
                    (Ø 3 mm) </b> </td>
                    <td>Bipolar Maryland Dissector, Long 
                      (Ø 3 mm, length 280 mm)</td>
                    <td></td>
                    <td>{{form_iu.table_bi1_3}}</td>
                </tr>
                <tr>
                  <td>Bipolar Atraumatic Grasper, Long 
                    (Ø 3 mm, length 280 mm)</td>
                  <td></td>
                  <td>{{form_iu.table_bi2_3}}</td>
                </tr>

                <tr>
                  <td rowspan=17><b>Passive 
                    Instruments 
                    (Ø 5 mm)</b> </td>
                  <td>Allis Grasper (Ø 5 mm, length 310 mm)</td>
                  <td>X0007002</td>
                  <td>{{form_iu.table_pi1_5}}</td>
                </tr>
                <tr>
                  <td>Allis Grasper, Long (Ø 5 mm, length 410 mm) </td>
                  <td>X0007003</td>
                  <td>{{form_iu.table_pi2_5}}</td>
                </tr>
                <tr>
                  <td>Johan Grasper 15mm (Ø 5 mm, length 310 mm)</td>
                  <td>X0007005</td>
                  <td>{{form_iu.table_pi3_5}}</td>
                </tr>
                <tr>
                  <td>Johan Grasper 15mm, Long (Ø 5 mm, length 410 mm)</td>
                  <td>X0007006</td>
                  <td>{{form_iu.table_pi4_5}}</td>
                </tr>
                <tr>
                  <td>Kocher Grasper (Ø 5 mm, length 310 mm)</td>
                  <td>X0007008</td>
                  <td>{{form_iu.table_pi5_5}}</td>
                </tr>
                <tr>
                  <td>Kocher Grasper, Long (Ø 5 mm, length 410 mm)</td>
                  <td>X0007009</td>
                  <td>{{form_iu.table_pi6_5}}</td>
                </tr>
                <tr>
                  <td>Strong Grasper (Ø 5 mm, length 310 mm)</td>
                  <td>X0007011</td>
                  <td>{{form_iu.table_pi7_5}}</td>
                </tr>
                <tr>
                  <td>Strong Grasper, Long (Ø 5 mm, length 410 mm)</td>
                  <td>X0007012</td>
                  <td>{{form_iu.table_pi8_5}}</td>
                </tr>
                <tr>
                  <td>Mixter Dissector (Ø 5 mm, length 310 mm)</td>
                  <td>X0007014</td>
                  <td>{{form_iu.table_pi9_5}}</td>
                </tr>
                <tr>
                  <td>Mixter Dissector, Long (Ø 5 mm, length 410 mm) </td>
                  <td>X0007015</td>
                  <td>{{form_iu.table_pi10_5}}</td>
                </tr>
                <tr>
                  <td>Babcock Forceps (Ø 5 mm, length 310 mm)</td>
                  <td>X0007017</td>
                  <td>{{form_iu.table_pi11_5}}</td>
                </tr>
                <tr>
                  <td>Babcock Forceps, Long (Ø 5 mm, length 410 mm)</td>
                  <td>X0007018</td>
                  <td>{{form_iu.table_pi12_5}}</td>
                </tr>
                <tr>
                  <td>Needle Holder Right (Ø 5 mm, length 310 mm)</td>
                  <td>X0007020</td>
                  <td>{{form_iu.table_pi13_5}}</td>
                </tr>
                <tr>
                  <td>Needle Holder Right, Long (Ø 5 mm, length 410 mm)</td>
                  <td>X0007021</td>
                  <td>{{form_iu.table_pi14_5}}</td>
                </tr>
                <tr>
                  <td>Needle Holder Left (Ø 5 mm, length 310 mm)</td>
                  <td>X0007023</td>
                  <td>{{form_iu.table_pi15_5}}</td>
                </tr>
                <tr>
                  <td>Needle Holder Left, Long (Ø 5 mm, length 410 mm)</td>
                  <td>X0007024</td>
                  <td>{{form_iu.table_pi16_5}}</td>
                </tr>
                <tr>
                  <td>Fundus Grasper (Ø 5 mm, length 310 mm)</td>
                  <td>X0007038</td>
                  <td>{{form_iu.table_pi17_5}}</td>
                </tr>

                <tr>
                  <td rowspan=8><b>Monopolar 
                    Instruments 
                    (Ø 5 mm)</b> </td>
                  <td>Monopolar Curved Metzenbaum Scissors 
                    (Ø 5 mm, length 310 mm)</td>
                  <td>X0007026</td>
                  <td>{{form_iu.table_mi1_5}}</td>
                </tr>
                <tr>
                  <td>Monopolar Curved Metzenbaum Scissors, Long 
                    (Ø 5 mm, length 410 mm)</td>
                  <td>X0007027</td>
                  <td>{{form_iu.table_mi2_5}}</td>
                </tr>
                <tr>
                  <td>Monopolar Curved Metzenbaum Scissors Short Tip 
                    (Ø 5 mm, length 310 mm)</td>
                  <td>X0007029</td>
                  <td>{{form_iu.table_mi3_5}}</td>
                </tr>
                <tr>
                  <td>Monopolar Curved Metzenbaum Scissors Short Tip, 
                    Long (Ø 5 mm, length 410 mm)</td>
                  <td>X0007030</td>
                  <td>{{form_iu.table_mi4_5}}</td>
                </tr>
                <tr>
                  <td>Monopolar Maryland Dissector 
                    (Ø 5 mm, length 310 mm)</td>
                  <td>X0007032</td>
                  <td>{{form_iu.table_mi5_5}}</td>
                </tr>
                <tr>
                  <td>Monopolar Maryland Dissector, Long 
                    (Ø 5 mm, length 410 mm)</td>
                  <td>X0007033</td>
                  <td>{{form_iu.table_mi6_5}}</td>
                </tr>
                <tr>
                  <td>Monopolar L-Hook Electrode 
                    (Ø 5 mm, length 310 mm)</td>
                  <td>X0007035</td>
                  <td>{{form_iu.table_mi7_5}}</td>
                </tr>
                <tr>
                  <td>Monopolar L-Hook Electrode, Long 
                    (Ø 5 mm, length 410 mm)</td>
                  <td>X0007036</td>
                  <td>{{form_iu.table_mi8_5}}</td>
                </tr>
                <tr>
                  <td rowspan=5><b>Bipolar 
                    Instruments 
                    (Ø 5 mm)</b> </td>
                  <td>Bipolar Large Grasping Forceps 
                    (Ø 5 mm, length 310 mm)</td>
                  <td>X0005146</td>
                  <td>{{form_iu.table_bi1_5}}</td>
                </tr>
                <tr>
                  <td>Bipolar Curved Grasping Forceps 
                    (Ø 5 mm, length 310 mm)</td>
                  <td>X0005147</td>
                  <td>{{form_iu.table_bi2_5}}</td>
                </tr>
                <tr>
                  <td>Bipolar Curved Scissors 
                    (Ø 5 mm, length 310 mm)</td>
                  <td>X0005148</td>
                  <td>{{form_iu.table_bi3_5}}</td>
                </tr>
                <tr>
                  <td>Adapter, Bipolar Maryland Dissector 
                    (Ø 5 mm, length 310 mm)</td>
                  <td>X9000058</td>
                  <td>{{form_iu.table_bi4_5}}</td>
                </tr>
                <tr>
                  <td>Adapter, Bipolar Curved Scissors 
                    (Ø 5 mm, length 310 mm)</td>
                  <td>X9000059</td>
                  <td>{{form_iu.table_bi5_5}}</td>
                </tr>
                <tr>
                  <td rowspan=2><b>Passive 
                    Instruments 
                    (Ø 10 mm)</b> </td>
                  <td>Right Angle Dissector 
                    (Ø 10 mm, length 310 mm)</td>
                  <td>X0007405</td>
                  <td>{{form_iu.table_pi1_10}}</td>
                </tr>
                <tr>
                  <td>Right Angle Dissector, Long 
                    (Ø 10 mm, length 410 mm) </td>
                  <td>X0007406 </td>
                  <td>{{form_iu.table_pi2_5}}</td>
                </tr>
                <tr>
                  <td rowspan=4><b>Clip Appliers</b> </td>
                  <td>Hem-o-lok ML (Ø 5 mm, length 310 mm)</td>
                  <td>X0007041</td>
                  <td>{{form_iu.table_ca1}}</td>
                </tr>
                <tr>
                  <td>Hem-o-lok ML, Long (Ø 5 mm, length 410 mm)</td>
                  <td>X0007042 </td>
                  <td>{{form_iu.table_ca2}}</td>
                </tr>
                <tr>
                  <td>Hem-o-lok L (Ø 10 mm, length 310 mm)</td>
                  <td>X0007402</td>
                  <td>{{form_iu.table_ca3}}</td>
                </tr>
                <tr>
                  <td>Hem-o-lok L, Long (Ø 10 mm, length 410 mm)</td>
                  <td>X0007403</td>
                  <td>{{form_iu.table_ca4}}</td>
                </tr>
                <tr>
                  <td><b>Ultrasonic</b></td>
                  <td>Ultrasonic Handpiece (Ø 5.5 mm, length 370 mm) 
                    (box of 10)</td>
                  <td>X9007619</td>
                  <td>{{form_iu.table_us}}</td>
                </tr>
                <tr>
                  <td rowspan=4><b>Articulating 
                    Instruments 
                    (Ø 5 mm)</b> </td>
                  <td>Articulating Bipolar Atraumatic Grasper 
                    (Ø 5 mm, length 310 mm) (box of 5)</td>
                  <td>X9007613</td>
                  <td>{{form_iu.table_ai1}}</td>
                </tr>
                <tr>
                  <td>Articulating Bipolar Metzenbaum Scissors 
                    (Ø 5 mm, length 310 mm) (box of 5)</td>
                  <td>X9007614</td>
                  <td>{{form_iu.table_ai2}}</td>
                </tr>
                <tr>
                  <td>Articulating Bipolar Maryland Dissector 
                    (Ø 5 mm, length 310 mm) (box of 5) </td>
                  <td>X9007615</td>
                  <td>{{form_iu.table_ai3}}</td>
                </tr>
                <tr>
                  <td>Articulating Needle Holder (Ø 5 mm, length 310 mm) 
                    (box of 5) </td>
                  <td>X9007616</td>
                  <td>{{form_iu.table_ai4}}</td>
                </tr>
                <tr>
                  <td rowspan=3><b>RADIA 
                    Instruments 
                    (Ø 10 mm)</b> </td>
                  <td>RADIA Atraumatic Grasping Forceps Tip, sterile, single 
                    use (box of 5)</td>
                  <td>X0005222</td>
                  <td>{{form_iu.table_rad1}}</td>
                </tr>
                  <tr>
                    <td>RADIA Self-Aligning Needle Holder Tip, sterile, single 
                      use (box of 5) </td>
                    <td>X0005221</td>
                    <td>{{form_iu.table_rad2}}</td>
                  </tr>
                  <tr>
                    <td>RADIA Universal Needle Holder Tip, sterile, single use 
                      (box of 5)</td>
                    <td>X0005300</td>
                    <td>{{form_iu.table_rad3}}</td>
                  </tr>
                </tbody>
              </table>
              <button type="submit" class="btn btn-primary" name="editcard">Сохранить изменения</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}