{% block preprocedure %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" >
        Предварительная информация
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse hide" aria-labelledby="headingOne">
      <div class="accordion-body">
        <div class="card">
          <h5 class="card-title"></h5>
          <div class="card-body">
            <form method="POST" action="{% url "edit_card" card.get_id %}">
              {% csrf_token %}

              <div class="form-group row ">
                <div class="form-group col-md-4">
                  <div class="mb-3">
                    <label class="form-label">Дата создания приема</label>
                    {{form_preproc.creation_date}}
                  </div>
                </div>
                
                <div class="form-group col-md-4">
                  <div class="mb-3" id="smoker">
                    <label class="form-label">Стаж курения</label>
                    {{form_preproc.is_smoker}}
                    </div>
                </div>
              </div>
              
              <div class="form-group row ">
                <div class="form-group col-md-4">
                  <div class="mb-3">
                    <label for="date" class="form-label">Дата и время приема</label>
                    {{form_preproc.admission_date}}
                </div>
                </div>
                
                <div class="form-group col-md-4">
                  <div class="mb-3" id="packyears">
                    <label class="form-label" >Продолжительность курения</label>
                    {{form_preproc.packyears}}
                    </div>
                </div>
              </div>

              <div class="form-group row ">
                <div class="form-group col-md-4">
                  <div class="mb-3">
                    <label class="form-label">Дата подписания согласия</label>
                    {{form_preproc.sign_date}}
                  </div>
                </div>
                
                <div class="form-group col-md-4">
                  <label class="form-label"> </label>

                </div>
              </div>
              
              <div class="form-group row ">
                <div class="form-group col-md-4">
                  
                </div>
                
                <div class="form-group col-md-4">
                  <label class="form-label"> </label>

                </div>
              </div>

              <div class="form-group row ">
                <div class="form-group col-md-4">
                  <div class="mb-3">
                    <label class="form-label">Рост (см)</label>
                    {{form_preproc.height}}
                </div>
                </div>
                <div class="form-group col-md-4">
                  <div class="mb-3" id="packyears">
                    <label class="form-label">Вес (кг)</label>
                    {{form_preproc.weight}}
                    </div>
                </div>
              </div>

              <button type="submit" class="btn btn-primary" name="editcard">Сохранить изменения</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}