{% block robot_malfunction %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen" >
        <h5>Неисправности робота</h5>
      </button>
    </h2>
    <div id="collapseTen" class="accordion-collapse collapse hide" aria-labelledby="headingOne">
      <div class="accordion-body">
        <div class="card">
          <h5 class="card-title"></h5>
          <div class="card-body">
            <form method="POST" action="{% url "edit_rm" card.get_id %}">
              {% csrf_token %}
              
              <div class="mb-3">
                <label class="form-label">Неисправности робота</label>
                {{form_rm.malfunction}}
              </div>
              <div class="mb-3" id="malfunction_comment">
                <label class="form-label">Комментарий</label>
                {{form_rm.comment}}
              </div>
              

              <button type="submit" class="btn btn-primary" name="editcard">Сохранить изменения</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}